<h1>Tasks</h1>
<ul>

  <%@tasks.each do |task|%>
  <li>
      <%= task.id %>.
      <%= task.action %>
      <%= task.description %>
      <%= task.completion_date %>
  </li>
  <%end%>
</ul>

<div>
  &copy 2018, Ada Developers Academy
</div>
