<h1>Tasks</h1>
<ul>

  <%@tasks.each do |task|%>
  <li>
    <p>
      <%= task.id %>
    </p>
    <p>
      <%= task.action %>
    </p>
    <p>
      <%= task.description %>
    </p>
    <p>
      <%= task.completion_date %>
    </p>
  </li>
  <%end%>
</ul>
