<h1>TASKLIST</h1>

<section class="list_section">
  <h3>YOUR TASKS</h3>
  <ol>
    <%@tasks.each do |task|%>
    <li class="items">
      <%= link_to task.action, task_path(task.id)%> <br />

      <%= if task.completed == false then link_to "Mark Complete", complete_task_path(task.id), method: :patch
       else link_to "Unmark Complete", complete_task_path(task.id), method: :patch
       end %>

      <%= link_to "| Edit ", edit_task_path(task.id) %>

      <%= link_to "| Delete ", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete this task?"}%>
    </li>
    <% end %>
  </ol>
</section>
