<h2>Task details</h2>

<p>
  <strong>Task:</strong>
  <%= @task.action%>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description%>
</p>

<p>
  <strong>Completion Date:</strong>
  <%= @task.completion_date%>
</p>

<button>
  <%= link_to "Edit Task", edit_task_path%>
</button>
